/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

/* Common Styles */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: var(--text-size);
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  font-size: var(--title-size);
  font-weight: 900;
}

h2 {
  font-size: calc((var(--text-size) + var(--title-size)) / 2);
  font-weight: 700;
}

hr {
  color: #cd212a;
  width: 90%;
  margin: 4rem auto;
}

/* Root Variables */
:root {
  font-size: 62.5%;
  --bg-color: #f4f9ff;
  --text-color: white;
  --text-size: 2rem;
  --title-size: 4rem;
}

html {
  scroll-behavior: smooth;
}

p,
li,
a,
i {
  font-size: var(--text-size);
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  font-size: var(--title-size);
  font-weight: 900;
}

h2 {
  font-size: calc((var(--text-size) + var(--title-size)) / 2);
  font-weight: 700;
}

hr {
  color: #cd212a;
  width: 90%;
  margin: 4rem auto;
}

body {
  background: linear-gradient(
    180deg,
    rgb(36, 36, 36) 0%,
    rgb(119, 119, 119) 100%
  );
  overflow-x: hidden;
}

h1,
h2,
p,
li,
i,
a {
  transition-duration: 0.3s;
}

h1:hover,
h2:hover,
p:hover,
li:hover,
i:hover,
a:hover,
button:hover {
  scale: 1.1;
  transition-duration: 0.3s;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: #f4f9ff;
  border-radius: 0 0 5px 5px;
}

header img {
  width: 80px;
  height: 100px;
}

header a {
  font-size: var(--text-size);
  margin: 0 1rem;
  color: #f4f9ff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f4f9ff;
}

.logo img {
  margin-right: 2rem;
  width: 10rem;
  height: 7rem;
}

.logo h2 {
  font-size: var(--text-size);
}

#images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin-bottom: 4rem;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: var(--text-size);
}

.image-text h2 {
  margin-bottom: 2rem;
}

.image-text button {
  padding: 1rem;
  background-color: #cd212a;
  margin-left: 1rem;
  border-radius: 4px;
}

.image-text button:nth-child(2) {
  background-color: var(--bg-color);
}

.image-text button a {
  font-size: var(--text-size);
  color: #000000;
}

.image-text button:nth-child(3) a {
  color: white;
}

#images img {
  width: 50%;
  height: 60rem;
  opacity: 0.5;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.images {
  display: flex;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 10rem;
  gap: 4rem;
}

#about p {
  font-size: var(--text-size);
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 5rem;
  gap: 2rem;
  margin: auto;
}

#services h1 {
  text-align: center;
  margin: 0 0 3rem 0;
}

#services .images-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#services .services-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  gap: 4rem;
}

#services .services-images .service-item {
  position: relative;
  z-index: 1;
  height: 100%;
}

#services .services-images .service-item img {
  opacity: 0.7;
  width: 30rem;
  height: 25rem;

  object-fit: cover;
  object-position: center;
  width: 30rem;
  height: 25rem;
}

#services .services-images .service-item span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(5%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s; /* Adjust as needed */
  z-index: 2;
  font-size: var(--text-size);
}

#services .services-images .service-item:hover span {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  height: 80vh;
  padding: 3rem;
}

#contacts h1 {
  margin: 0 0 3rem 0;
}

#contacts i {
  margin: 0 3rem;
  font-size: var(--title-size);
}

#location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

#location h1 {
  margin: 1rem 0 6rem 0;
}

#location .location-content {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line */
  gap: 10rem;
}

#location iframe {
  flex-grow: 2;
  width: 70%; /* Make the iframe take up 70% of the container's width */
  border-radius: 5px;
}

#location .location-content p {
  flex-grow: 1;
  max-width: 30%;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  margin: 3rem 0 0 0;
}

footer > * > * {
  color: #f4f9ff;
}

@media screen and (max-width: 1200px) {
  :root {
    --text-size: 2rem;
    --title-size: 3rem;
  }

  h1:hover,
  h2:hover,
  p:hover,
  li:hover,
  i:hover,
  a:hover {
    scale: 1;
  }

  #images img {
    height: 40rem;
  }

  #services {
    padding: 4rem;
    height: 120vh;
  }

  .services-list {
    flex-direction: column;
  }

  .services-list > * {
    height: 35vh;
    width: 100%;
    justify-content: center;
  }

  #contacts {
    padding: 0 3rem;
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  * {
    --text-size: 1.75rem;
    --title-size: 3rem;
  }

  .logo {
    margin: auto;
  }

  nav,
  header h2 {
    display: none;
  }

  .logo img {
    margin: auto;
    height: 10rem;
    width: 13rem;
  }

  #images img {
    width: 50%;
    height: 30rem;
  }

  #about {
    padding: 0 3rem;
  }

  #services {
    height: auto;
    padding: 0rem;
  }

  #services .images-container {
    flex-direction: row;
    justify-content: space-around;
  }

  #services .services-images {
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
  }

  #services .services-images .service-item img {
    width: 20rem;
    height: 15rem;
  }

  #services .services-images .service-item span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 1;
  }

  #contacts {
    height: auto;
  }

  #contacts .title {
    margin: 3rem 0;
  }

  #contacts i {
    margin: 0 1.2rem;
  }

  #location {
    height: auto;
    padding: 2rem;
  }

  #location .location-content {
    flex-direction: column;
  }

  #location iframe {
    width: 60%;
    height: 100%;
  }

  #location .location-content p {
    width: 100%;
    max-width: 100%;
  }

  footer {
    padding: 3rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  * {
    --text-size: 1.5rem;
    --title-size: 2.5rem;
  }

  #services .services-images .service-item img {
    width: 14rem;
    height: 10rem;
  }

  #contacts {
    padding: 0 2rem;
  }

  #location iframe {
    width: 80%;
    height: 100%;
  }
}
